*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}
/* 
html {
	height: 100%;
} */

body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}

a {
	text-decoration: none;
}

.wrapper {
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

li{
	list-style: none;
	display: flex;
}

header {
	background: #000;
	padding: 22px 0;
}

.header{
	width: 100%;
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
}

.header a {
	color: #fff;
	font-size: 16px;
	margin-right: 63px;
	padding: 0px 0px;
	font-weight: bold;
}



#menu-checkbox {
	display: none;
}

ul {
	display: flex;
}

nav {
	margin-top: 20px;
	margin-left: 340px;
}

li a>span .section-services p>span {
	margin-top: 25px;
	color: #e0c18d;
	padding-left: 63px;

}

header a>span,.contacts-block-map>p>span {
	color: #d8b887;
	padding-left: 60px;
	}

header p {
	color: #d8b887;
}

header p > span {
	color: #fff;
}


.form-inline{
	margin-right: 350px;
}

.tel {
	
	margin-top: 20px;
	font-size: 20px;

}

.tel img {
	padding-right: 10px;
}

.header-container {
	background: #000;
	padding-top: 120px;
	padding-bottom: 280px;
	margin-top: -1px;
	display: flex;
	justify-content: space-between;
}

h1,h2,h3,h5,h4 {
	font-family: 'Playfair Display SC', serif;
	color: #e0c18d;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 30px;
	text-align: center;
	color: #000;
}



.russ-h1 {
	color: #fff;
}


.left-logo {
	margin-left: 343px;
	
	

}

.left-logo img {
	width: 200px;
	height: 163px;
}

.left-logo p {
	font-size: 20px;
	padding-top: 12px;

}

.right-logo {
	margin-right: 363px;
	text-align: center;
}

.right-logo p {
	font-size: 20px;
	padding-top: 29px;
	color: #fff;

}

button {
	padding: 16px 39px;
	border-radius: 40px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: space-around;

}

.buttons {
	display: flex;
	justify-content: space-between;
}


.prise-list {
	background: #fff;
	color: #000;
	border: 1px solid #fff;
	margin-right: 15px;
}

.record-online {
	background: #ccb134;
	color: #fff;
	border: 1px solid #ccb134;
	margin-left: 15px;
}

main {
	padding-top: 80px;
	padding-bottom: 40px;
}




.line {
	width: 42px;
	height: 4px;
	background: #d8b98a;
	margin-left: 48%;
	margin-top: 30px;
	margin-bottom: 40px;
}



.section-services img {
	padding-left: 60px;
	width: 354px;
	height: 448px;
	
	
}


.section-services {
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 50px;
	
}

.section-services span {
	color: #e0c18d;
	padding-right: 15px;
	padding-left: 15px;
}

.text-poem {
	width: 362px;
	height: 443px;
    margin-left: 40px;
    font-size: 12px;
    text-align:left;
   
}


img.botox {
	padding-left: 10px;
	padding-right: 20px;
}

.all-serv a {
	text-decoration: none;
	color: #999999;
	font-size: 12px;
	font-weight: bold;
}



.card {
	border:none;
}



.all-serv p {
	width: 100%;
	padding-left: 34px;
	margin-top:-18px;
	margin-left: 10px;
}



.about-salon {
	width: 344px;
	margin-left: 40px;	
}

.about-salon h3 {
	text-align: left;
	margin-top: 167px;
}

.about-salon p {
	text-align: left;
}



.about-salon>.line {
	margin-left: 0;
	margin-bottom: 30px;

}

.main-side-services {
	margin-left: 354px;
	margin-right: 342px;
	padding-bottom: 55px;

}

.bottom-right {
	width: 800px;
	margin-right: -227px;
	
}

.carousel-indicators li {
	width: 5px;
	height: 5px;
	border-radius: 50%;
}



.carousel-control-next-icon, .carousel-control-prev-icon {
	display: block;
}


.icon-slide {
	display: none;
}

.slide-feed>.carousel-control-next-icon {
	left:400px;
	color: red;
	z-index: 1000;
}


.feedback {
	width: 100%;
	height: 517px;
}

.feedback-slide {
	display: block;
	width: 1920px;
	background: #454142;
	margin-top: 38px;

}

.feedback-slide img {
	z-index:-1000;
	position: relative;
	content: "";
}

.bg-under{
	background: #454142;
	opacity: .7;
	width: 1920px;
	height: 517px;
	position: absolute;
	top: 0;
	z-index: 1000;
}

.carousel-caption {
	z-index: 2000;
	position: absolute;
	bottom: 270px;
}

.carousel-caption h5 {
	font-size: 40px;
	color: #fff;
}

.carousel-caption .line {
	margin-bottom: 37px;
}

.carousel-caption p {
	color: #918f90;
	font-size: 14px;
	width: 635px;
	position: absolute;
	left: 319px;
    top: 260px;
}

.button-services {
	background: #ccb134;
	color: #fff;
	border: 1px solid #ccb134;
	border-radius: 10px;
	padding-right: 100px;
	padding-left: 50px;
}

.main-line {
	width: 1920px;
	height: .2px;
	
	border-bottom: thin #ccb134 dotted;
	margin-left: -365px;

}

.salon-slide {
	width:805px;
	height: 565px;
	margin-top: -503px;
    margin-left: 452px;
}

.salon-slide img {
	width:805px;
	height: 565px;
}

p.stars {
	font-size: 16px;
	position: absolute;
	top: 200px;
    left: 349px;
}

p.manicur-p {
	font-size: 16px;
    position: absolute;
    top: 172px;
    left: 353px;

}

.appointment-now {
	max-width: 1920px;
	width: 100%;
	height: 201px;
	background: #231f20;
	position: relative;
	content: "";
	display: block;
	
	}

.appointment-now h4 {
	color: #fff;
	text-align: center;
	padding-top: 47px;
	
	
	
}



.appointment-now .buttons {
	width: 521px;
	margin-left: 723px;
}

.left-lines, .right-lines{
	width: 396px;
	height: 85px;
	background: transparent;
	border:thin #ccb134 dotted;
	border-bottom:none;
	

}

.left-lines {
	border-right: none;
	position: absolute;
	top: 67px;
    left: 369px;
}


.left-line-bottom-border {
	width: 304px;
	height: 1px;
	border-bottom:thin #ccb134 dotted;
	position: absolute;
	top:82px;
	left: 0;

}

.right-lines {
	border-left: none;
	position: absolute;
	top:67px;
	right: 360px;
}


.right-line-bottom-border {
	width: 304px;
	height: 1px;
	border-bottom:thin #ccb134 dotted;
	position: absolute;
	top:82px;
	right: 0;
}

.map iframe {
	max-width: 1920px;
	height: 540px;
	width: 100%;
	margin-right: 0;
	position: relative;
	
}



img.point-map {
	position: absolute;
	bottom: -2791px;
    left: 928px;
    width: 50px;
    height: 50px;
}

.contacts-block-map {
	width: 388px;
	height: 440px;
	background: #fff;
	position: absolute;
	left: 1253px;
    top: 3110px;
}

.contacts-block-map h4 {
	color: #000;
	padding-top: 40px;
}

.contacts-block-map p {
	font-size: 16px;
	padding-left: 20px;
}

footer {
	max-width: 1920px;
	width: 100%;
	height: 60px;
	background: #eee;
	margin-top: -45px;
	text-align: center;
	font-size: 17px;
}

footer p {
	padding-top: 30px;
}